.setup__container {
  --container__width: 12rem;
  --container__heigth: calc(var(--container__width) * .3);
  --background__color: #505053;
  width: var(--container__width);
  height: var(--container__heigth);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100vw;
  border: 0.07rem solid #eee;
  position: relative;
}
.setup__container .label {
  background-color: #3D4042;
  color: #eee;
  width: 7rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.setup__container .setup__row .value {
  width: 5rem;
  height: 2rem;
  background: rgb(63, 132, 58);
  background: linear-gradient(45deg, rgb(63, 132, 58) 0%, rgb(65, 190, 55) 100%);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 5px #484849;
  font-family: "Digital Numbers", sans-serif;
  color: #484849;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.setup__container .setup__row button {
  width: calc(var(--container__heigth) - 0.1rem);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  color: #eee;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.setup__container .setup__row button:active {
  font-size: 1.8rem;
}
.setup__container .setup__row :first-child {
  left: -0.05rem;
  color: #A42E2E;
}
.setup__container .setup__row :last-child {
  right: -0.05rem;
  color: #41BE37;
}

.hidden {
  display: none;
}

.clock {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.clock button {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  border: none;
}
.clock .run {
  background-color: #41BE37;
}
.clock .pause {
  background-color: #A42E2E;
}
.clock .reset {
  background-color: #2E44A4;
}

.discplay__container {
  width: 20rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Digital Numbers", sans-serif;
  color: #484849;
  background: rgb(63, 132, 58);
  background: linear-gradient(45deg, rgb(63, 132, 58) 0%, rgb(65, 190, 55) 100%);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 10px #484849;
}

.button__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button__container {
  width: 4.5rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.07rem solid #eee;
  border-radius: 0.5rem;
  position: relative;
}
.button__container p {
  background-color: #3D4042;
  color: #fff;
  width: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #547070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: #3D4042;
  padding: 2rem;
  border-radius: 0.5rem;
}

.settings__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}/*# sourceMappingURL=index.css.map */