@use "./mixin" as *;


.setup__container {
    
    --container__width: 12rem;
    --container__heigth: calc(var(--container__width) * .3);

    --background__color: #505053;

    width: var(--container__width);    
    height: var(--container__heigth);

    background-color: transparent;
    border-radius: 100vw;
    border: .1rem solid black;
    position: relative;
    
    .label {
        text-transform: capitalize;
        font-size: .8rem;
        position: absolute;

        top: .2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .setup__row {
        .value {
            font-family: 'Digital Numbers', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;

            position: absolute;
            bottom: .2rem;
            left: 50%;
            transform: translateX(-50%);
        }
        button {
            width: calc(var(--container__heigth) - .1rem);
            aspect-ratio: 1 / 1;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;
            font-weight: 700;
            background-color: transparent;
            color: #fff;

            cursor: pointer;

            border-radius: 50%;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &:active {
                font-size: 1.8rem;
            }
        }
        :first-child {
            left: -.05rem;
            color: #A42E2E;
        }
        :last-child {
            right: -.05rem;
            color: #41BE37;
        }
    }

}