@use "./mixin" as *;


.setup__container {
    
    --container__width: 12rem;
    --container__heigth: calc(var(--container__width) * .3);

    --background__color: #505053;

    width: var(--container__width);    
    height: var(--container__heigth);

    @include flex(row, center, center);
    background-color: transparent;
    border-radius: 100vw;
    border: .07rem solid #eee;
    position: relative;
    
    .label {
        background-color: #3D4042;
        color:#eee;
        width: 7rem;

        text-align: center;
        text-transform: capitalize;
        font-weight: 500;

        position: absolute;
        top: -.7rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .setup__row {
        .value {

            width: 5rem;
            height: 2rem;
            background: rgb(63,132,58);
            background: linear-gradient(45deg, rgba(63,132,58,1) 0%, rgba(65,190,55,1) 100%);
            border-radius: .5rem;
            box-shadow: inset 0 0 5px #484849;

            font-family: 'Digital Numbers', sans-serif;
            color: #484849;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;

        }
        button {
            width: calc(var(--container__heigth) - .1rem);
            aspect-ratio: 1 / 1;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;
            font-weight: 700;
            background-color: transparent;
            color: #eee;

            cursor: pointer;

            border-radius: 50%;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &:active {
                font-size: 1.8rem;
            }
        }
        :first-child {
            left: -.05rem;
            color: #A42E2E;
        }
        :last-child {
            right: -.05rem;
            color: #41BE37;
        }
    }

}