@use "./mixin" as *;

.hidden {
    display: none;
}

.clock {
    
    aspect-ratio: 1 / 1;
    border-radius: 1rem;

    @include flex(column, center, flex-start);
    gap: 2rem;

    button {
        width: 3rem;
        aspect-ratio:  1 / 1;
        border-radius: 1rem;
        border: none;
    }
    .run {
        background-color: #41BE37;
    }
    .pause {
        background-color: #A42E2E;
    }
    .reset {
        background-color: #2E44A4;
    }
}

.discplay__container{
    width: 20rem;
    height: 8rem;
    @include flex(column, center, center);
    gap: .5rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Digital Numbers', sans-serif;
    color: #484849;

    background: rgb(63,132,58);
    background: linear-gradient(45deg, rgba(63,132,58,1) 0%, rgba(65,190,55,1) 100%);
    border-radius: .5rem;
    box-shadow: inset 0 0 10px #484849;
}
.button__row {
    @include flex(row, center, center);
    gap: 2rem;

}
.button__container {
    width: 4.5rem;
    aspect-ratio: 1 / 1;

    @include flex(row, center, center);

    border: 0.07rem solid #eee;
    border-radius: .5rem;
    

    position: relative;
    p {
        background-color: #3D4042;
        color: #fff;
        width: 3rem;

        text-align: center;
        text-transform: capitalize;
        font-weight: 500;

        position: absolute;
        top: -.7rem;
        left: 50%;
        transform: translateX(-50%);
    }
}



