@use "./_AdjustClock";
@use "./_Clock";
@use "./mixin" as *;


* {
    box-sizing: border-box;
    margin: 0;

}
body {
    width: 100vw;
    height: 100vh;

    background-color: #547070;

    display: flex;
    align-items: center;
    justify-content: center;

}
#root {

}
.app {

    max-width: 40rem;
    @include flex(column, center, center);
    gap: 2.5rem;
    background-color: #3D4042;
    
    
    padding: 2rem;
    border-radius: .5rem;

}
.settings__container {
    @include flex(row, center, space-between);
    gap: 1rem;
    width: 100%;
}


p {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none; 
}