@use "./_AdjustClock";


@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}



* {
    box-sizing: border-box;
    margin: 0;

}

#root {

}
.app {
    @include flex(row, center, center);
    gap: 1rem
}
